[submodule "vundle"]
	path = _vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "jedi"]
	path = _vim/bundle/jedi-vim/jedi
	url = https://github.com/davidhalter/jedi.git
[submodule "fugitive"]
	path = _vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "syntastic"]
	path = _vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
