_vim/.netrwhist
_vim/bundle/SearchComplete/
_vim/bundle/YankRing.vim/
_vim/bundle/groovy.vim/
_vim/bundle/indentLine/
_vim/bundle/javacomplete/
_vim/bundle/jedi-vim/
_vim/bundle/jshint.vim/
_vim/bundle/rainbow_parentheses.vim/
_vim/bundle/syntastic/
_vim/bundle/tagbar/
_vim/bundle/tlib_vim/
_vim/bundle/vim-addon-mw-utils/
_vim/bundle/vim-airline/
_vim/bundle/vim-colors-solarized/
_vim/bundle/vim-css-color/
_vim/bundle/vim-easymotion/
_vim/bundle/vim-fugitive/
_vim/bundle/vim-gitgutter/
_vim/bundle/vim-indent-guides/
_vim/bundle/vim-java-unused-imports/
_vim/bundle/vim-javascript/
_vim/bundle/vim-json/
_vim/bundle/vim-markdown/
_vim/bundle/vim-protobuf/
_vim/bundle/vim-snipmate/
_vim/bundle/vim-snippets/
_vim/bundle/logcat/
_vim/bundle/vim-git/
_vim/bundle/kotlin-vim/
_vim/bundle/vim-airline-themes/
_vim/bundle/vim-graphql/
_vim/bundle/vim-solidity/
_vim/bundle/typescript-vim/
bashrc_includes/local_aliases.bash
_sshconfig
