---
name: Test complete dotfile setup on Ubuntu

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches: ["main", "master"]
    paths:
      - ".github/workflows/test_ubuntu.yml"
      - "setup_dotfiles.sh"
      - "_vimrc"
      - "setup/setup_new_ubuntu_machine.sh"
  push:
    branches: ["main", "master"]
    paths:
      - ".github/workflows/test_ubuntu.yml"
      - "setup_dotfiles.sh"
      - "_vimrc"
      - "setup/setup_new_ubuntu_machine.sh"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  testAllOnUbuntu:

    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Run setup_dotfiles.sh
        run: |
          set -e
          export CI=1
          git submodule update --init
          bash setup_dotfiles.sh
      - name: Run setup_new_ubuntu_machine.sh
        run: |
          set -e
          export CI=1
          bash setup/setup_new_ubuntu_machine.sh  # Test Ubuntu-specific setup
      - name: Run setup vim
        run: |
          set -e
          export CI=1
          vim +PluginInstall +qall  # Install all vim bundles
