---
name: Test Setup Mac OS-specific config

on:  # yamllint disable-line rule:truthy
  push:
    branches: ["main", "master"]
    paths:
      - ".github/workflows/test_macos_3.yml"
      - "setup/_macos"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macOsConfig:

    runs-on: macos-latest
    timeout-minutes: 15

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run _macos script
        run: |
          set -eo pipefail
          export CI=1
          sudo bash setup/_macos
