---
name: Test Setup Vim on Mac OS

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches: ["main", "master"]
    paths:
      - ".github/workflows/test_macos_4.yml"
      - "setup_dotfiles.sh"
      - "_vimrc"
  push:
    branches: ["main", "master"]
    paths:
      - ".github/workflows/test_macos_4.yml"
      - "setup_dotfiles.sh"
      - "_vimrc"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_mac_vim:

    runs-on: macos-latest
    timeout-minutes: 15

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Install new vim
        run: |
          set -eo pipefail
          export CI=1
          vim --version
          # The real effect of this installation happens only when a new
          # shell is opened in the next step
          brew install coreutils
          brew install vim  # To install new Vim
          vim --version
      - name: Run setup dotfiles
        run: |
          git submodule update --init
          bash setup_dotfiles.sh  # to setup .vimrc file
      - name: Install vim plugins
        run: |
          vim --version
          # Install all vim bundles
          vim +PluginInstall +qall
