---
name: Test Setup dotfiles on Mac OS

on:  # yamllint disable-line rule:truthy
  push:
    branches: ["master", "main"]
    paths:
      - ".github/workflows/test_macos_1.yml"
      - "setup_dotfiles.sh"
      - "_*"
      - "gradle.properties"
  pull_request:
    branches: ["master", "main"]
    paths:
      - ".github/workflows/test_macos_1.yml"
      - "setup_dotfiles.sh"
      - "_*"
      - "gradle.properties"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_macos:

    runs-on: macos-latest
    timeout-minutes: 15

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install coreutils
        run: |
          set -eo pipefail
          export CI=1
          brew install coreutils  # For tac
      - name: Run setup dotfiles
        run: |
          set -eo pipefail
          export CI=1
          bash setup_dotfiles.sh # Test dotfile setup
